.beachpic-image {
  margin-top: 100px;
  height: 30%;
  width: 30%;
}

.guitarhero-image {
  margin-top: 100px;
  height: 20%;
  width: 20%;
}

.cartoondrew-image {
  margin-top: 100px;
  height: 20%;
  width: 20%;
}

.cookie-counter-text {
  margin-left: 850px;
}